/******************* HOMEPAGE STYLES *********************/

.img-wrapper {
  position: relative;
}

.img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.img-overlay:before {
  content: ' ';
  display: block;
  /* adjust 'height' to position overlay content vertically */
  height: 20%;
}

.subtitle {
  color: white; 
}

#no-meals:before {
  height: 5%;
}

#sign-in {
  text-align: left;
}

#sign-in:before {
  height: 0%;
}

/******************* ICON STYLES *********************/

/*.oi-question-mark {
}*/



/******************* CHART STYLES *********************/

.nutri-chart {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.nutri-tracker {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}


/******************* MY MEALS PAGE STYLES *********************/

.nutricounter {
  border: solid gray 1px;
  margin: 1rem;
  padding: 2rem;
}

.nutricounter-desc {
  border-bottom: solid gray .5px;
}


/******************* BUTTON & CARD STYLES *********************/

.hide {
  visibility: hidden;
}

#create {
  visibility: hidden;
}

.card {
  display: inline-block;
}


/******************* SIDEBAR STYLES *********************/

#sideNav {
  background-color: lightgray;
  width: 300px;
  position: fixed;
  height: 100%;
}

.main {
  float: left;
  width: 78%;  /* or 84%?? */
  margin-left: 300px;
}

.chart-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.chart-overlay:before {
  content: ' ';
  display: block;
  /* adjust 'height' to position overlay content vertically */
  height: 25%;
}

.results-msg {
  margin-top: 10px;
}

.mx-auto {
  display: block;
}


/******************* ALERT STYLES *********************/

.alert {
  margin-top: 60px;
}

/******************* EXTRA/UNNEEDED? *********************/

.wrapper {
  display: flex;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  height: 100vh;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed;  Fixed Sidebar (stay in place on scroll) 
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: lightgray; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

