{% extends 'base.html' %}

{% block content %}

<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="justify-content-center">
      <a class="navbar-brand" href="/">MealHub</a>
  </div>
  <span class="navbar-text">
    Hello, {{ fname }}
  </span>
  <div class="collapse navbar-collapse justify-content-end" >
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/profile-{{ session["user_id"] }}">Create Meal Plan</a>
      <a class="nav-item nav-link" href="/profile-{{ session["user_id"] }}">My Profile</a>  
      <a class="btn btn-outline-danger" href="/signout">Sign Out</a>
    </div>
  </div>
</nav>

<h1 class="text-center mt-5 pt-5 mx-auto" style="width: 200px;">My Meals</h1>


<div class="mealplans">
    <div class="d-flex justify-content-center">
        {% for i in range(recipes|length) %}
        
            <div class="card m-2" style="width: 18rem;" id={{ recipes[i]['recipe_id'] }}>
                <div class="card-header">
                  Day {{ i+1 }}
                </div>
                <a href={{ recipes[i]["url"] }} target="_blank"><img class="card-img-top" src={{ recipes[i]["image"] }}></a>
                <div class="card-body">
                  <h5 class="card-title">{{ recipes[i]["title"] }}</h5>
                  <p class="card-text">Prep time: {{ recipes[i]["prep_time"] }} min</p>            
                </div>
            </div>
        
        {% endfor %}
    </div>


    <div class="d-flex justify-content-center">
        <div class="nutri-tracker">
          <canvas id="fatTotal"></canvas>
        </div>

        <div class="nutri-tracker">
          <canvas id="carbsTotal"></canvas>
        </div>

        <div class="nutri-tracker">
          <canvas id="proteinTotal"></canvas>
        </div>
    </div>

</div>
{% endblock %}


{% block scripts %}
    <script src="/static/saved_meals.js"></script>
{% endblock %}