{% extends 'base.html' %}

{% block content %}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">ProjectName</a>
</nav>

<h1>Sign In</h1>


<form action="/signin" method="POST">
    <div class="offset-4 col-md-4">
        <div class="form-group">
            <label>Email:</label>
            <input type="email" class="form-control" name="email" placeholder="Enter email" required>
        </div>
        
        <div class="form-group">
            <label>Password:</label>
            <input type="password" class="form-control" name="pw" placeholder="Password" required>
        </div>

        <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Sign In</button>
    </div>
</form>


<!-- Modal -->
<!-- <div class="modal fade" tabindex="-1" id="exampleModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">What would you like to do?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <a class="btn btn-outline-primary offset-11" action="/profile-<int:user_id>">Create a new meal plan</a>
        <a class="btn btn-outline-primary offset-11" href="/mymeals">View existing meal plan</a>

      </div>
    </div>
  </div>
</div>
 -->
{% endblock %}