{% extends 'base.html' %}

{% block content %}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="justify-content-center">
      <a class="navbar-brand" href="/">MealHub</a>
  </div>
  <span class="navbar-text">
    Hello, {{ fname }}
  </span>
  <div class="collapse navbar-collapse justify-content-end" >
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/mymeals">My Meals</a>  
      <a class="btn btn-outline-primary" href="/signout">Sign Out</a>
    </div>
  </div>
</nav>

<h1>Create a Meal Plan</h1>

<form action="/results" method="GET">
    <div class="offset-4 col-md-4">
        <div class="form-group">
            <!-- Need tooltip: select up to 3 -->
            <label data-toggle="tooltip" data-placement="top" title="Select up to 3">Choose a cuisine:</label>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="cuisine" value="american">
                  <label class="form-check-label">
                    American
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="cuisine" value="mexican">
                  <label class="form-check-label">
                    Mexican
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="cuisine" value="italian">
                  <label class="form-check-label">
                    Italian
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="cuisine" value="middle eastern">
                  <label class="form-check-label">
                    Middle Eastern
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="cuisine" value="indian">
                  <label class="form-check-label">
                    Indian
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="cuisine" value="chinese">
                  <label class="form-check-label">
                    Chinese
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="cuisine" value="thai">
                  <label class="form-check-label">
                    Thai
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="cuisine" value="japanese">
                  <label class="form-check-label">
                    Japanese
                  </label>
                </div>
        </div>
        
        <div class="form-group">
            <label>What foods do you want to avoid?</label>
            <!-- Maybe change this to input type="text"? -->
                <input type="text" class="form-control" aria-describedby="avoidHelp" name="exclude" placeholder="Foods to avoid">
                <small id="avoidHelp" class="form-text text-muted">Enter foods in a list separated by commas.</small>
        </div>

        <div class="form-group">
            <label>Choose your intolerances:</label>
            <!-- Maybe change this to input type="text"? -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="intolerant" value="dairy">
                  <label class="form-check-label">
                    Dairy
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="intolerant" value="egg">
                  <label class="form-check-label">
                    Egg
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="intolerant" value="peanut">
                  <label class="form-check-label">
                    Peanut
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="intolerant" value="gluten">
                  <label class="form-check-label">
                    Gluten
                  </label>
                </div>
        </div>

        <button type="submit" class="btn btn-primary">Create A Meal Plan</button>
    </div>
</form>



<!-- TEST RECIPE CARD -->


<button type="button" class="btn btn-primary recipe-select">Select</button>


<div class="container-fluid">
    <div id="carouselExample" class="carousel slide" data-ride="carousel" data-interval="9000">
        <div class="carousel-inner row w-100 mx-auto" role="listbox">
            <div class="carousel-item col-md-3 active">
                <div class="card img-fluid mx-auto d-block" style="width: 18rem;">
                  <a href="/"><img class="card-img-top" src="https://spoonacular.com/recipeImages/479101-556x370.jpg" alt="Card image cap"></a>
                  <div class="card-body">
                    <h5 class="card-title">On the Job: Pan Roasted Cauliflower From Food52</h5>
                    <p class="card-text">Prep time: 20 min</p>
                    <button type="button" class="btn btn-primary recipe-select">Select</button>
                  </div>
                </div>
            </div>
            <div class="carousel-item col-md-3">
                <div class="card img-fluid mx-auto d-block" style="width: 18rem;">
                  <img class="card-img-top" src="https://spoonacular.com/recipeImages/479101-556x370.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">On the Job: Pan Roasted Cauliflower From Food52</h5>
                    <p class="card-text">Prep time: 20 min</p>
                    <button type="button" class="btn btn-primary recipe-select">Select</button>
                  </div>
                </div>
            </div>
            <div class="carousel-item col-md-3">
                <img class="img-fluid mx-auto d-block" src="//placehold.it/600x400?text=3" alt="slide 3">
            </div>
            <div class="carousel-item col-md-3">
                <img class="img-fluid mx-auto d-block" src="//placehold.it/600x400?text=4" alt="slide 4">
            </div>
            <div class="carousel-item col-md-3">
                <img class="img-fluid mx-auto d-block" src="//placehold.it/600x400?text=5" alt="slide 5">
            </div>
            <div class="carousel-item col-md-3">
                <img class="img-fluid mx-auto d-block" src="//placehold.it/600x400?text=6" alt="slide 6">
            </div>
            <div class="carousel-item col-md-3">
                <img class="img-fluid mx-auto d-block" src="//placehold.it/600x400?text=7" alt="slide 7">
            </div>
            <div class="carousel-item col-md-3">
                <img class="img-fluid mx-auto d-block" src="//placehold.it/600x400?text=8" alt="slide 7">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
            <i class="fa fa-chevron-left fa-lg text-muted"></i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next text-faded" href="#carouselExample" role="button" data-slide="next">
            <i class="fa fa-chevron-right fa-lg text-muted"></i>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>








<div class="d-flex justify-content-center card-deck">
    <div class="card mx-5 mt-5" style="width: 18rem;">
      <img class="card-img-top" src="https://spoonacular.com/recipeImages/479101-556x370.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">On the Job: Pan Roasted Cauliflower From Food52</h5>
        <p class="card-text">Prep time: 20 min</p>
        <div class="card-footer">
            <button type="button" class="btn btn-primary recipe-select">Select</button>
        </div>
      </div>
    </div>

    <div class="card mx-5 mt-5" style="width: 18rem;">
      <img class="card-img-top" src="https://spoonacular.com/recipeImages/479101-556x370.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">On the Job: Pan Roasted Cauliflower From Food52</h5>
        <p class="card-text">Prep time: 20 min</p>
        <button type="button" class="btn btn-primary recipe-select">Select</button>
      </div>
    </div>

    <div class="card mx-5 mt-5" style="width: 18rem;">
      <img class="card-img-top" src="https://spoonacular.com/recipeImages/479101-556x370.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">On the Job: Pan Roasted Cauliflower From Food52</h5>
        <p class="card-text">Prep time: 20 min</p>
        <button type="button" class="btn btn-primary">Select</button>
      </div>
    </div>
</div>

<div class="d-flex justify-content-center card-deck">
    <div class="card mx-5 mt-5" style="width: 18rem;">
      <img class="card-img-top" src="https://spoonacular.com/recipeImages/479101-556x370.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">On the Job: Pan Roasted Cauliflower From Food52</h5>
        <p class="card-text">Prep time: 20 min</p>
        <button type="button" class="btn btn-primary">Select</button>
      </div>
    </div>

    <div class="card mx-5 mt-5" style="width: 18rem;">
      <img class="card-img-top" src="https://spoonacular.com/recipeImages/479101-556x370.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">On the Job: Pan Roasted Cauliflower From Food52</h5>
        <p class="card-text">Prep time: 20 min</p>
        <button type="button" class="btn btn-primary">Select</button>
      </div>
    </div>
    
    <div class="card mx-5 mt-5" style="width: 18rem;">
      <img class="card-img-top" src="https://spoonacular.com/recipeImages/479101-556x370.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">On the Job: Pan Roasted Cauliflower From Food52</h5>
        <p class="card-text">Prep time: 20 min</p>
        <button type="button" class="btn btn-primary">Select</button>
      </div>
    </div>
</div>


{% endblock %}